@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box !important;
  line-height: 1.5em;
}

html{
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Noto Sans", sans-serif;
}

h1{
    text-align: center;
    text-decoration: underline wavy;
    margin-bottom: 20px;
    margin-top: 0;

}

a{
    all:unset;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

.container{
    max-width: 450px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1);
}
input,button{
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    outline: none;
}

form input{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .4);
}
form input:hover,
form input:focus{
    border-color: #3D4CD9;
}

form label{
    font-weight: bold;
}

form div{
    margin: 7px 0;
}

form [type="submit"]{
    all: unset;
    margin-top: 5px;
    padding: 10px;
    background: #3D4CD9;
    color:white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: .05s;
}
form [type="submit"]:hover{
    outline-width: 2px;
    outline:3px solid #7f89e6;
    outline-offset: 2px;
}

.nav-links{
    all: unset;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    background-color: #111111;
    border-radius: 3px;
}
.nav-links li{
    flex-grow: 1;
}

.nav-links a{
    display: block;
    padding: 10px;   
    text-transform: uppercase; 
    text-align: center;
    color: #e6e6e6;
}

.nav-links a:hover{
    background-color: rgba(0, 0, 0, .9);
}

.success-msg,
.err-msg{
    color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 3px;
    padding: 10px;
}

.success-msg{
    color: #009900;
    border-color: #009900;
}
.user-list ul{
    padding: 0;
    list-style-type: none;
}
.user-list .list-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.user-list em{
    color: #666;
    font-size: 14px;
}

.user-list li:nth-child(odd){
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f2f2f2;
    border-radius: 3px;
}


.user-list a{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 0 3px;
    padding: 0 5px;
    font-size: 14px;

    background-color: hsl(141, 53%, 42%);
    color: hsl(0, 0%, 98%);
}

.user-list a.del{
    background-color: hsl(348, 100%, 45%);
    color: hsl(0, 0%, 98%);
}